nav {
	position: fixed;
	height: 8%;
	background-color: black;
	width: 100%;
	top: 0;
	left: 0;
	color: white;
	clear: both;
}

nav h2 {
	float: left;
}

#user {
	float: right;
	margin-right: 20px;
	font-size: 1.5em;
	line-height: 1.7em;
}

nav a { 
	color: white; 
	text-decoration: none; 
}

#main {
	margin-top: 9%;
}

.error {
	border: 1px solid red;
	background: pink;
	font-weight: bold;
	color: red;
}
