<h1>Home Page</h1>

<button id="load_players">Load Players</button><br>
<fieldset>
	<legend>New Player</legend>
	<input type="text" id="jersey" placeholder="Jersey Number"><br>
	<input type="text" id="position" placeholder="Position?"><br>
	<input type="text" id="weight" placeholder="How fat is he?"><br>
	<button id="new_player">New Player</button><br>
</fieldset>
<div id="results">
	<table id="canucks">
		<thead>
			<tr>
				<th>Number</th>
				<th>Position</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

</div>
