<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Hockey App</title>
</head>
<body>
	<nav>
		<h2>Hockey App</h2>
		<div id="user">
			<% if @user %>
				<p><%= @user.name %> | <a href="/logout">Log Out</a></p>
			<% else %>
				<p><a href="/login">Log In</a></p>
			<% end %>
		</div>
	</nav>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
